# Load data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("toronto_data.csv")

In [3]:
data.head()

   Unnamed: 0 Postcode           Borough                     Neighbourhood
0           0      M3A        North York                         Parkwoods
1           1      M4A        North York                  Victoria Village
2           2      M5A  Downtown Toronto         Harbourfront, Regent Park
3           3      M6A        North York  Lawrence Heights, Lawrence Manor
4           4      M7A      Queen's Park                      Queen's Park

# Get coordinates

In [9]:
#!conda install -c conda-forge geocoder --yes
#import geocoder
# did not work with geocoder. API is not stable.

In [10]:
coords_data = pd.read_csv("Geospatial_Coordinates.csv")

In [11]:
coords_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Join data

In [14]:
final_data = pd.merge(data[["Postcode", "Borough", "Neighbourhood"]], coords_data, how='left', left_on='Postcode', right_on='Postal Code')

In [15]:
final_data.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",M5A,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",M6A,43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,M7A,43.662301,-79.389494

In [16]:
final_data.drop(columns="Postal Code", inplace=True)

In [17]:
final_data.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

In [18]:
final_data.to_csv("final_data_toronto.csv")